@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,300&display=swap');

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: yellow;
  cursor: pointer;
}

body {
    background-color: gray;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 20px;
    height: 450px;
    width: 350px;
    border-radius: 7px;
    background-color: rgb(51, 51, 51);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.app-name {
    height: 55px;
    width: 100%;
    position: absolute;
    padding: 20px;

    color: yellow;
    font-size: 30px;
    font-weight: 600;
}

.password-box {
    height: 50px;
    width: 100%;
    position: relative;
    top: 70px;

    border: yellow 1px solid;
    border-radius: 6px;

    display: flex;
    align-items: center;

    padding-right: 6px;
}

.password-box input {
    all: unset;
    border-radius: 6px;
    height: 55px;
    width: 85%;
    padding-left: 15px;
    color: yellow;
}

.indicator-box {
    height: 6px;
    width: 100%;
    position: relative;
    top: 80px;
    z-index: 1;
}

.indicator-box div:nth-child(1) {
    height: 3px;
    width: 100%;
    background-color: #777;
    border-radius: 30px;
    position: absolute;
}

.indicator-box div:nth-child(2) {
    top: 0px;
    height: 3px;
    width: 10%;
    background-color: rgb(189, 1, 1);
    border-radius: 30px;
    position: absolute;
    transition: all 0.2s;
}

.pass-lenght-box {
    height: 45px;
    width: 90%;
    position: absolute;
    top: 170px;

    font-weight: 400;
    color: rgb(255, 255, 255);
}

.pass-lenght-box input {
    all: unset;
    height: 6px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
}

.pass-lenght-box input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 100%;
    background-color: yellow;
    cursor: grab; 
}

.pass-lenght-box .pass-lenght-value {
    float: right;
    font-size: 16;
}


.settings {
    height: 110px;
    width: 100%;
    position: relative;
    top: 170px;
}

.settings div {
    height: 55px;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;

    color:white;
    font-weight: bold;
    font-size: 16px;
}

.settings .lowercase span, .settings .number span {
    position: relative;
    left: -2px;
}

.settings .uppercase span, .settings .symbols span {
    position: relative;
    left: -2;
}

.pass-settings-title {
    color: white;
    font-weight: bold;
}

.genarate-btn {
    border-radius: 30px;
    padding: 12px;
    width: 100%;
    margin-top: 210px;
    border: 0px;
    background-color: rgb(0, 177, 0);

    font-weight: bold;
    font-size: 16px;
    color: white;

    cursor: pointer;
}

.indicator#weak {
    width: 10%;
    background-color: rgb(189, 1, 1);
}

.indicator#medium {
    width: 50%;
    background-color: rgb(255, 153, 0);
}

.indicator#strong {
    width: 100%;
    background-color: rgb(17, 189, 1);
}
